{% extends "product_list/base_generic.html" %}
{% load static %}

{% block content %}

<div class="container">
    <nav>
        <form class="form-inline">
          <input class="form-control col-11 search" id="elastic" type="search" placeholder="Поиск" aria-label="Search">
        </form>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xl-4 offset-xl-4">
            <h1 class="name">{{ title }}</h1>
        </div>
    </div>
</div>

{% block middle %}{% endblock %}

<footer class="fixed-bottom footer1">
    <div class="container">
        <div class="row">
            {% if request.path == '/my_product/' %}
            <div class="sub col-4 offset-2"><img class="mx-auto d-block" src="{% static 'product_list/images/basket-checked.svg' %}" alt="-" width="25px" height="25px"><p class="text-center"><strong>Мои продукты</strong></p></div>
            {% else %}
            <div class="sub col-4 offset-2"><img class="mx-auto d-block" src="{% static 'product_list/images/basket.svg' %}" alt="-" width="25px" height="25px"><p class="text-center">Мои продукты</p></div>
            {% endif %}
            {% if request.path == '/profile/' %}
            <div class="sub col-4"><img class="mx-auto d-block" src="{% static 'product_list/images/user-checked.svg' %}" alt="-" width="25px" height="25px"><p class="text-center"><strong>Профиль</strong></p></div>
            {% else %}
            <div class="sub col-4"><img class="mx-auto d-block" src="{% static 'product_list/images/user.svg' %}" alt="-" width="25px" height="25px"><p class="text-center">Профиль</p></div>
            {% endif %}
        </div>
    </div>
</footer>

{% endblock %}