
.footer1 {
    border-top: 2px solid #999999;
    background-color: #FAFAFA;
}

.footer1 img {
    margin-top: 10px;
    margin-bottom: 6px;
}

.footer1 p {
    margin-bottom: 7px;
}

.name {
    margin-top: 10px;
}

.product1 {
    min-height: 50px;
    background-color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 1px 3px #BBB;
    margin-left: 15px;
}

.product_p {
    margin: 5px;
}

.search {
    margin: 10px;
    border-radius: 20px;
    background-image: url(../images/serch_icon.svg);   
    background-repeat: no-repeat;
    background-position: 7px; 
    outline: none;
    @font-face {
        font-family: SFProDisplay-Bold;
        src: url(fonts/SFProDisplay-Bold.ttf);
    }
    font-size: 16px;
    padding-left: 40px;
    height: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.elastic li.hide {
    display: none;
}