{% extends "registration/base_register.html" %}
{% load static %}

{% block header %}
<div class="container">
  <div class="row">
      <div class="col-5 offset-xl-4 col-xl-2 back"><form action="../{{ back }}"><button class="btn col-xl-12 back-but"><h3 class="back-word"><img src="{% static 'product_list/images/Vector.svg' %}"></img> назад</h3></button></form></div>
      </div>
  <div class="row">
      <div class="col-xs-6 col-xl-4 offset-xl-4">
          <h1>Авторизация</h1>
      </div>
  </div>
</div>
{% endblock %}

{% block footer %}

<footer class="auth_buttons fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-xl-4 offset-xl-4"><button type="submit" class="btn col-12 reg-but"><h3>Далее</h3></button></div>
        </div>
    </div>
</footer>

{% endblock %}

</form>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Забыли пароль</a></p>
