{% extends "product_list/base_generic.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="offset-xl-4 col-xl-4 text-center">
        <h1>Регистрация</h1>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    {% for i in form %}
    <div class="row">
        <div class="offset-xl-4 col-xl-4">
            <p><label class="form-label" for="{{ i.id_for_label }}">{{i.label}}</label><br>{{i}}</p>
        </div>
        <div class="form_error offset-xxl-4 col-xxl-4 col-xs-12">{{i.errors}}</div>
    </div>
    {% endfor %}
    <div class="row">
        <div class="col-xl-2 offset-xl-5">
            <button type="submit">Регистрация</button>
        </div>
    </div>
</form>
</div>

{% endblock %}